<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	  <br>
	<br>  
	<h3>↓點他</h3>
<audio controls>
	<source th:src="@{/0310.wav}" type="audio/wav">
	<source th:src="@{/0310.wav}" type="audio/mpeg">
</audio> 
	<br>
	<br> 
	<br>        
<h3>這首曲子是我前幾天說要給妳聽的</h3>
<br>
<h3>妳過妳相信有個人一直在等妳，我想告訴妳，無論多久，我都會在這裡等妳</h3>
<br>
<h3>我要感謝妳的勇氣，我們也許不會有這樣的機會相遇</h3>
<br>
<h3>儘管在那麼多未知的情況下，妳依然毫不猶豫地從雲林趕來</h3>
<br>
<h3>我們會一起去好多地方玩還有去好多國家去嘗試不同的甜點跟冒險</h3>
<br>
<h3>我也許不是浪漫的人，但我會為了妳嘗試各種浪漫的事</h3>
<br>
<h3>妳願意當我的女朋友嗎，讓我們接下來一起努力一起生活</h3>
<br>

<br>

<h3>by Life</h3>
<br>


<br>




	        </td>

	    </tr> 
 
	</table> 
</html>