<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	  <br>
	<br>  
	<h3>↓點他</h3>
<audio controls>
	<source th:src="@{/0310.wav}" type="audio/wav">
	<source th:src="@{/0310.wav}" type="audio/mpeg">
</audio> 
	<br>
	<br> 
	<br>        
<h3>這首是第一次彈給妳的鋼琴，當時緊張到手抖都沒有彈好</h3>
<br>
<h3>兩天後思思正式跟我續約，故事就這麼神奇的開始了</h3>
<br>
<h3>從一開始的內湖往返到經歷台北跟高雄這麼遠的距離好幾天再到一起住淡水</h3>
<br>
<h3>然後失業思思扶養我再找到工作再來結婚，雖然才短短的時間但覺得一起經歷了好多</h3>
<br>
<h3>最近思思很辛苦籌備跟準備禮物，不過每個人收到都很驚喜</h3>
<br>
<h3>都覺得很特別沒收過這樣好的婚禮禮物，思思的努力都有被看到喔</h3>
<br>
<h3>思思我愛妳，我希望可以一直一直與妳一起生活吃飯玩遊戲看動畫過著簡單的生活</h3>
<br>
<h3>我也會一直寵思思、愛護思思、抱抱思思</h3>
<br>
<h3>雖然可能沒法這麼快有大房子豪車名牌包包</h3>
<br>
<h3>但我會努力讓思思可以早日過著吃飽睡睡飽玩玩完吃吃飽繼續睡的生活</h3>
<br>
<h3>還有每天都有飲料喝，我要養思思</h3>
<br>
<h3>最後，思思妳願意嫁在2023/5/27這天嫁給我嗎</h3>
<br>

<h3>by Life</h3>
<br>


<br>
<form action="/g/restart" method="post">
<input type="submit" value="restart" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>